<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Empleados</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Lista de Empleados</h1>

    <div th:if="${mensaje}" class="alert alert-success" th:text="${mensaje}"></div>
    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
	
	<a href="listarEmpleados">Listar</a>

</div>
</body>
</html>
